* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Oswald', 'Sans-serif';
    font-size: 24px;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100%;
}

figcaption {
    padding-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2 {
    text-align: center;
    color: black;
    padding-bottom: 40px;
}

p {
    padding-bottom: 50px;
    text-indent: 15px;
}

li {
    list-style: none;
}

hr {
    margin: 50px 0;
}

.container {
    padding: 5vh 5vw;
    margin: 5vh 5vw;
    margin-bottom: 5vh;
    margin-top: 0;
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
    padding-bottom: 200px;
}

.site-nav {
    background-color: #446cfc;
    padding: 5px 0;
    padding-left: 20px;
    width: 100%;
    position: sticky;
    top: 0;
}

.site-nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: left;
    width: 30%;
}

li > a {
    text-decoration: none;
    color: white;
}

.site-nav > ul > li {
    text-decoration: none;
}

ul > li {
    padding-left: 30px;
}

.resume-list > li {
    padding-bottom: 5px;
}

.resume-section, #resume-info {
    padding-bottom: 20px;
}

.about-header {
    text-align: center;
}

.project-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-box {
    margin: 0 5%;
    padding: 20px;
    border: solid white;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    background-color: white;
    flex: 1;
}

.project-box:hover {
    animation: grow .1s ease-in-out;
    flex: 1.1;
}

a > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.intro-text > * {
    padding-bottom: 40px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.post-paragraph {
    text-indent: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.date-pub-edit {
    text-align: center;
    font-size: .8rem;
}

.resume-header {
    text-align: left;
    padding-bottom: 5px;
}

.resume-container {
    width: 70%;
    margin: auto;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-img {
    width: 50vw;
    aspect-ratio: 3/2;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 40px;
    border-radius: 75px;
}

.group {
    padding-bottom: 50px;
}

.project-img {
    width: 150px;
    
}

.center-all {
    text-align: center;
}

.big-paragraph {
    font-size: 2rem;
}

.blue-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-hover:hover {
    color:#446cfc;
}

footer {
    position: relative;
    bottom: 200px;
    text-align: center;
}

footer > hr {
    width: 80vw;
    margin: auto;
    margin-bottom: 50px;
}

header {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 25px;
}

#aboutheader {
    color: black;
    padding-bottom: 0;
}

@keyframes grow {
    0% {
        flex: 1;
    }

    100% {
        flex: 1.1;
    }
}

@media only screen and (max-aspect-ratio: 3/2) {
    .site-nav {
        padding-left: 0;
    }

    .site-nav > ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        width: 100%;
    }

    ul > li {
        padding-left: 0;
        text-align: center;
    }

    h3 {
        font-size: 1rem;
    }

    .project-box {
        height: 350px;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    
    html {
        font-family: 'Oswald', 'Sans-serif';
        font-size: 2vw;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }

    .site-nav {
        position: relative;
    }

    .site-nav > ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: left;
        width: 100%;
    }

    ul > li {
        padding-left: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .project-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        font-size: 2rem;
    }

    .project-box {
        margin: 0 5%;
        padding: 20px;
        padding-bottom: 50px;
        border: solid white;
        border-radius: 25px;
        width: 300px;
        height: 300px;
        width: 100%;
        background-color: white;
        margin-bottom: 100px;
    }
    
    .project-box:hover {
        animation: none;
    }

    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
    }
}